.Container{
    display: flex;
    gap: 20px;
}

.Container img{
    max-width: 50px;
}

.imageContainer{
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.imageContainer figcaption{
    padding: 0px 10px;
}